*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: lightgrey;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 170px;
    margin-top: 10%;
}

.btn_div{
    border: none;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(76, 76, 226);
    border-radius: 50px;
    color: whitesmoke;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.container1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10%;
    border: none;
    font-size: 20px;
    display: none;
    border: none;
    height: 300px;

}

.quiz_box{
    border: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.psn_btn_div{
    display: flex;
    gap: 10px;
    width: 600px;
    margin-top: 10px;
    justify-content: center;
}

.psn{
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    background-color: rgb(67, 67, 209);
    color: whitesmoke;
}

.btn2:hover{
    background-color: green;
}

.cross-button{
    position: absolute;
    top: 180px;
    right: 700px;
}

.bi-x-lg{
    background-color: whitesmoke;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 5px;

}
